@import './intro.scss';
@import './project.scss';
@import './project_description.scss';
@import './skill.scss';
@import './skills.scss';
@import '../resources/icons/font-mfizz.css';
@import './project_containers.scss';
@import './nav_bar.scss';
@import './about_me.scss';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.fa {
  opacity: 0.75;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.intro-container {
  padding-top: 5px;
}

.hidden {
  padding-top: 40px;
  animation-timing-function: cubic-bezier(0.1, 0.8, 0.1, 1.000);
  &-true {
    @extend .hidden;
    transition: opacity 500ms ease-out;
    opacity: 0;
  }
  &-false {
    @extend .hidden;
    opacity: 1;
    transition: opacity 750ms ease-in;
  }
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@media screen and (max-width: 800px) {
  body {
    font-size: 1em;
  }
  p {
    margin-top: 0px;
    margin-bottom: 0.2em;
  }

  h1 {
    margin: 1.2em 0em 0.2em 0em;
    padding: 0em 0em 0em 0em;
    width: 100%;
    border-bottom: 2px solid white;
  }

  h2 {
    margin: 0.5em 0em 0.2em 0em;
  }
}
