@import url(../images/icons/font-mfizz.css);
.intro-container {
  display: flex;
  flex-direction: row;
  height: 75vh;
  min-height: 620px; }

.intro-subcontainer {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.intro-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5em 5em 2em 5em; }

.intro-text-title {
  font-size: 20px;
  text-align: left; }

.intro-text-body {
  font-size: 15px;
  text-align: left; }

.intro-profile-container {
  padding-top: 50px;
  display: flex;
  align-items: flex-start; }

.intro-profile-picture {
  border-radius: 50vw;
  width: 90%; }

.intro-links-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px; }

.intro-links-icon-container {
  width: 50px; }

.intro-links-url {
  padding-left: 10px; }

.resume {
  opacity: .75; }

.project-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 40vw;
  padding: 20px; }

.project-subcontainer, .project-subcontainer-image, .project-subcontainer-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px; }
  .project-subcontainer-image {
    height: 50%;
    max-height: 315px;
    overflow: hidden;
    min-height: 340px; }

.project-subcontainer:last-child, .project-subcontainer-image:last-child, .project-subcontainer-text:last-child {
  margin-top: 0px; }

.project-image-picture {
  min-height: 340px; }

.project-image-container {
  min-width: 310px; }

.project_description-interest-me-ul-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.project_description-interest-me-ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }

.skill, .skill-container, .skill-icon-container, .skill-name-container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .skill-container {
    flex-direction: column;
    padding: 50px;
    padding-bottom: 0px; }
  .skill-name-container {
    padding-top: 20px; }
  .skill-name {
    font-size: 20px; }

.skills-container {
  display: flex;
  flex-direction: column; }

.skills-entries-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.containers-projects-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column; }

.containers-individual-projects {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 100px;
  background-color: red;
  position: fixed;
  width: 100vw;
  z-index: 1;
  overflow: hidden; }

.navbar-link-container {
  padding: 20px 100px 20px 100px; }

.navbar-link {
  padding: 20px; }

.navbar-link:hover {
  cursor: pointer;
  background-color: green;
  transition: 300ms; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.fa-github, .fa-envelope-o, .fa-linkedin {
  opacity: 0.6; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.intro-container {
  padding-top: 40px; }

.hidden, .hidden-true, .hidden-false {
  padding-top: 40px;
  animation-timing-function: cubic-bezier(0.1, 0.8, 0.1, 1); }
  .hidden-true {
    transition: opacity 500ms ease-out;
    opacity: 0; }
  .hidden-false {
    opacity: 1;
    transition: opacity 750ms ease-in; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
