@import url(../images/icons/font-mfizz.css);
.intro-container {
  display: flex;
  flex-direction: row;
  min-height: 75vh;
  min-height: 620px;
  padding: 0px 130px 0px 130px; }

.intro-subcontainer {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.intro-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5em 5em 2em 40px; }

.intro-text-title {
  font-size: 40px;
  text-align: left; }

.intro-text-body {
  font-size: 25px;
  text-align: left; }

.intro-profile-container {
  padding-top: 50px;
  display: flex;
  align-items: flex-start; }

.intro-profile-picture {
  border-radius: 50vw;
  width: 90%; }

.intro-links-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px; }

.intro-links-icon-container {
  width: 50px; }

.intro-links-url {
  padding-left: 10px; }

.resume {
  opacity: .75; }

@media screen and (max-width: 1100px) {
  .intro-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center; }
  .intro-subcontainer {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px; }
  .intro-text-container {
    padding: 0px;
    padding-top: 30px;
    padding-right: 30px; }
  .intro-profile-container {
    justify-content: center;
    align-items: center;
    width: 100%; }
  .intro-profile-picture {
    width: 70%; } }

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  padding: 20px;
  min-width: 580px;
  max-width: 580px; }

.project-description-text {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left; }

.project-subcontainer:last-child, .project-subcontainer-image:last-child, .project-subcontainer-text:last-child {
  margin-top: 0px; }

.project-subcontainer, .project-subcontainer-image, .project-subcontainer-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px; }
  .project-subcontainer-image {
    max-height: 300px;
    overflow: hidden;
    min-height: 300px;
    min-width: 500px;
    max-width: 500px; }
  .project-subcontainer-link {
    background-color: transparent;
    border: 1px solid white;
    padding: 15px;
    outline: none;
    border-radius: 100px;
    font-size: 20px; }
  .project-subcontainer-link:hover {
    color: black;
    cursor: pointer; }

.project-image-picture {
  min-height: 340px; }

.project-image-container {
  min-width: 310px; }

.project-description-text {
  font-size: 23px; }

.project-description-link {
  color: white;
  border-bottom: 2px solid white; }

.project-description-link:hover {
  border-bottom: 2px solid black !important; }

.project-description-interest-me-ul-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.project-description-interest-me-ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0px 20px 0px 0px;
  font-size: 25px; }

@media screen and (max-width: 1100px) {
  .project-filler-description {
    height: 0px; } }

.skill, .skill-container, .skill-icon-container, .skill-name-container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .skill-container {
    flex-direction: column;
    padding: 20px 40px 0px 40px; }
  .skill-name-container {
    padding-top: 0px; }
  .skill-name {
    font-size: 25px; }

.icon-javascript, .icon-ruby-on-rails {
  margin-left: 19px; }

.icon-sass {
  margin-left: 10px; }

.icon-reactjs {
  margin-right: 10px; }

.skills-container {
  display: flex;
  flex-direction: column; }

.skills-entries-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.containers-projects-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column; }

.containers-individual-projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start; }

.navbar-link-container {
  padding: 20px 30px 20px 100px; }

.navbar-transparent-link-false {
  padding: 20px; }

.navbar-transparent-link-true {
  margin: 20px;
  background-color: transparent; }

.navbar-transparent-link-true:hover {
  cursor: pointer;
  color: black;
  transition: 500ms; }

.navbar-transparent-link-false:hover {
  transition: 500ms;
  color: white;
  cursor: pointer; }

#navbar-container, #navbar-container-hidden-true, #navbar-container-hidden-false {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 100px;
  padding-top: 0px;
  position: fixed;
  width: 100vw;
  z-index: 1;
  overflow: hidden; }
  #navbar-container-hidden-true {
    background-color: transparent; }

.navbar-hidden {
  padding-top: 40px;
  animation-timing-function: cubic-bezier(0.1, 0.8, 0.1, 1); }
  .navbar-hidden-true {
    background-color: transparent;
    transition: 500ms ease-out; }
  .navbar-hidden-false {
    background-color: #5e9bff;
    transition: 500ms ease-in; }

.about-me-container {
  padding: 30px 200px 0px 200px; }

.about-me-text {
  font-size: 25px;
  text-align: left; }

@media screen and (max-width: 1100px) {
  .about-me-container {
    padding-right: 100px;
    padding-left: 100px; } }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.fa-github, .fa-envelope-o, .fa-linkedin {
  opacity: 0.6; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.intro-container {
  padding-top: 40px; }

.hidden, .hidden-true, .hidden-false {
  padding-top: 40px;
  animation-timing-function: cubic-bezier(0.1, 0.8, 0.1, 1); }
  .hidden-true {
    transition: opacity 500ms ease-out;
    opacity: 0; }
  .hidden-false {
    opacity: 1;
    transition: opacity 750ms ease-in; }

.waypoint-filler {
  position: absolute;
  height: 80vh; }

.navbar-filler {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 0px; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
