.intro-container {
  display: flex;
  flex-direction: row;
  height: 75vh;
  min-height: 620px; }

.intro-subcontainer {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.intro-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5em 5em 2em 5em; }

.intro-text-title {
  font-size: 20px;
  text-align: left; }

.intro-text-body {
  font-size: 15px;
  text-align: left; }

.intro-profile-container {
  padding-top: 50px;
  display: flex;
  align-items: flex-start; }

.intro-profile-picture {
  border-radius: 50vw;
  width: 90%; }

.intro-links-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px; }

.intro-links-icon-container {
  width: 50px; }

.intro-links-url {
  padding-left: 10px; }

.resume {
  opacity: .75; }
