@import './mixins.scss';

.intro {
  &-container {
    @include flex-row;
    height: 70vh;
  }
  &-subcontainer {
    width: 50vw;
    @include flex-column
    @include flex-center
    overflow: hidden;
  }
}

.intro-text {
  &-container {
    @include flex-column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5em 5em 2em 5em;
  }
  &-title {
    font-size: 20px;
    text-align: left;
  }
  &-body {
    font-size: 15px;
    text-align: left;
  }
}

.intro-profile {
  &-container {
    display: flex;
    align-items: flex-start;
  }
  &-picture {
    border-radius: 50vw;
  	width: 90%;
  }
}

.intro-links {
  &-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
  }
  &-icon-container {
    height: 40px;
    width: 50px;
  }
  &-url {
    padding-left: 10px;
  }
}
