@import './mixins.scss';

.navbar {
  &-link-container {
    padding: 20px 30px 20px 100px;
  }
  &-transparent-link {
    &-false {
      padding: 20px;
    }
    &-true {
      margin: 20px;
      background-color: transparent;
    }
    &-true:hover {
      cursor: pointer;
      color: black;
      transition: 500ms;
    }
    &-false:hover {
      transition: 500ms;
      color: white;
      cursor: pointer;
    }
  }
}


#navbar-container {
  @include flex-row
  justify-content: flex-end;
  padding-right: 100px;
  padding-top: 0px;
  position: fixed;
  width: 99vw;
  z-index: 1;
  overflow: hidden;
  &-hidden-true {
    @extend #navbar-container;
    background-color: transparent;
  }
  &-hidden-false {
    @extend #navbar-container;
  }
}

.navbar-hidden {
  padding-top: 40px;
  animation-timing-function: cubic-bezier(0.1, 0.8, 0.1, 1.000);
   &-true {
     background-color: transparent;
     transition: 500ms ease-out;
   }
   &-false {
     background-color: #5e9bff;
     transition: 500ms ease-in;
   }
}

@media screen and (max-width: 800px) {
  .navbar-link-container {
    padding: 0px;
  }
  #navbar-container {
    height: 0px;
  }
}
