.project-container {
  display: flex;
  flex-direction: row;
  height: 70vh; }

.project-subcontainer {
  display: flex;
  flex-direction: column;
  min-width: 50vw;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
