@import './mixins.scss';

.project {
  &-container {
    @include flex-column;
    height: 90vh;
    width: 40vw;
  }
  &-subcontainer {
    @include flex-column;
    height: 50%;
    align-items: flex-start;
    overflow: hidden;
    margin: 20px;
  }
  &-subcontainer:last-child{
    margin-top: 0px;
  }
}

.project-image {
  &-picture {
    width: 130%;
  }
}
