@import './mixins.scss';

.project-description {
  &-text {
    font-size: 25px;
  }
}

.project-description-interest-me {
  &-ul-container {
    @include flex-column;
    @include flex-center;
  }
  &-ul {
    @include flex-column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 20px;
    font-size: 25px;
  }
}
