@import './mixins.scss';

.project {
  &-container {
    @include flex-column;
    justify-content: flex-start;
    // height: 90vh;
    width: 40vw;
    padding: 20px;
  }
  &-subcontainer {
    @include flex-column;
    align-items: flex-start;
    margin: 20px;
    &-image {
      @extend .project-subcontainer;
      height: 50%;
      max-height: 315px;
      overflow: hidden;
      min-height: 340px;
    }
    &-text {
      @extend .project-subcontainer;
    }
  }
  &-subcontainer:last-child {
    margin-top: 0px;
  }
}

.project-image {
  &-picture {
    min-height: 340px;
  }
  &-container {
    min-width: 310px;
  }
}
