.project-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 40vw;
  padding: 20px; }

.project-subcontainer, .project-subcontainer-image, .project-subcontainer-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px; }
  .project-subcontainer-image {
    height: 50%;
    max-height: 315px;
    overflow: hidden;
    min-height: 340px; }

.project-subcontainer:last-child, .project-subcontainer-image:last-child, .project-subcontainer-text:last-child {
  margin-top: 0px; }

.project-image-picture {
  min-height: 340px; }

.project-image-container {
  min-width: 310px; }
