@import './mixins.scss';

.containers {
  &-projects-container {
    @include flex-center;
    @include flex-column;
  }
  &-individual-projects {
    @include flex-row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
