@import './mixins.scss';

.containers {
  &-projects-container {
    @include flex-center;
    @include flex-column;
  }
  &-individual-projects {
    @include flex-row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 800px) {
  #projects-container {
    padding-top: 0px;
  }
}
