@import './mixins.scss';

.skill {
  display: flex;
  @include flex-center;
  &-container {
    flex-direction: column;
    @extend .skill;
    padding: 20px 40px 0px 40px;
  }
  &-icon-container {
    @extend .skill;
  }
  &-name-container {
    padding-top: 0px;
    @extend .skill;
  }
  &-name {
    font-size: 25px;
  }
}

.icon-javascript, .icon-ruby-on-rails {
  margin-left: 19px;
}

.icon-sass {
  margin-left: 10px;
}

.icon-reactjs {
  margin-right: 10px;
}
